# CM3151 Coursework

## Dataset (around 300 words)

For my coursework, I have chosen the classification dataset 'Seeds', sourced from the UCI Machine Learning Repository on 23rd October at 3:30pm. https://archive.ics.uci.edu/dataset/236/seeds.

The 'Seeds' dataset contains instances of individual seeds defined by the following 7 features: area, perimeter, compactness, length, width, asymmetry coefficient and length of kernel groove. These features were identified for each seed using soft X-ray photography. Each seed has a specific wheat variety: Kama, Rosa or Canadian.

The aim of this project is find the most effective classification model at identifying seed varieties. This will involve creating different classifiers and evaluating each model's accurary at predicting correct labels.

## Research Paper (around 300 words)

## Data Exploration

## Data Pre-processing

In [2]:
import pandas as pd

In [60]:
seeds_df = pd.read_csv('data/seeds_dataset.txt')

seeds_df.head()

   15.26\t14.84\t0.871\t5.763\t3.312\t2.221\t5.22\t1
0  14.88\t14.57\t0.8811\t5.554\t3.333\t1.018\t4.9...
1  14.29\t14.09\t0.905\t5.291\t3.337\t2.699\t4.82...
2  13.84\t13.94\t0.8955\t5.324\t3.379\t2.259\t4.8...
3  16.14\t14.99\t0.9034\t5.658\t3.562\t1.355\t5.1...
4  14.38\t14.21\t0.8951\t5.386\t3.312\t2.462\t4.9...

The file 'seeds_dataset.txt' does not have comma-separated values. Instead, each value is separated with a tab. 

The code below opens the file and replaces all tabs with commas.

In [61]:
import re

with open ('data/seeds_dataset.txt', 'r') as file:
    seed_data = file.read()
    seed_data = re.sub("\t",",", seed_data)

with open ('data/seeds_dataset.txt', 'w') as file:
    file.write(seed_data)

In [62]:
seeds_df = pd.read_csv('data/seeds_dataset.txt')

seeds_df.head()

   15.26  14.84   0.871  5.763  3.312  2.221   5.22  1
0  14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
1  14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
2  13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
3  16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
4  14.38  14.21  0.8951  5.386  3.312  2.462  4.956  1